

.pagina-var-estado {

    font-size: 28px;

    main {
        padding: 30px;
    }

    button {
        font-size: 28px;
        background-color: #000;
        color: #fff;
        padding: 20px;
    }

    input {
        font-size: 28px;
        padding: 20px;
    }

    img {
        width: 250px;
    }


    .contador {

        button {
            width: 80px;
            height: 80px;
        }

        span {
            display: inline-block;
            width: 100px;
            text-align: center;
            font-weight: 700;
            font-size: 38px;
        }
    }
}