
.pagina-evento {
    font-size: 28px;

    main {
        padding: 30px;
    }

    button {
        font-size: 28px;
        background-color: #000;
        color: #fff;
        padding: 20px;
    }

    input {
        font-size: 28px;
        padding: 20px;
    }

    img {
        width: 250px;
    }
}